<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  
  <extensions>
    <add assembly="NLog.QiNiuLogTarget"/>
  </extensions>
  
  <targets>
    <target xsi:type="QiNiuLogService"
           name="qiniulog"
           authorization="testAuthorization"
           queueName="queue_service"
           layout="serviceName=testservice1	message=${message}	logLevel=${level}	stackTrace=${stacktrace}	date=${date}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="qiniulog" />
  </rules>
</nlog>